// @use '../assets/fonts/FontAwesome/demo-files/'

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 400;
  src:
    local('Montserrat'),
    local('Montserrat-Regular'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.svg') format('svg'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 700;
  src:
    local('Montserrat'),
    local('Montserrat-Bold'),
    url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Bold.svg') format('svg'),
    url('../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-display: swap;
  font-weight: 400;
  src:
    local('Material Icons'),
    local('MaterialIcons'),
    local('MaterialIcons-Regular'),
    url('../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'),
    url('../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
    url('../assets/fonts/MaterialIcons/MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg'),
    url('../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Font Awesome Brands';
  font-display: swap;
  font-weight: 400;
  src:
    url('../assets/fonts/FontAwesomeBrands/fa-brands-400.woff2') format('woff2'),
    url('../assets/fonts/FontAwesomeBrands/fa-brands-400.woff') format('woff'),
    url('../assets/fonts/FontAwesomeBrands/fa-brands-400.svg') format('svg'),
    url('../assets/fonts/FontAwesomeBrands/fa-brands-400.ttf') format('truetype');
}