$dark_100: rgba(31, 32, 65, 1)
$dark_75: rgba(31, 32, 65, 0.75)
$dark_50: rgba(31, 32, 65, 0.5)
$dark_25: rgba(31, 32, 65, 0.25)
$dark_10: rgba(31, 32, 65, 0.1)
$dark_05: rgba(31, 32, 65, 0.05)

$purple: #bc9cff
$-purpleGradient: linear-gradient($purple, #8ba4f9)
$-purpleFadingGradient: linear-gradient(rgba($purple, 0.5), rgba(#8ba4f9, 0.5))

$green: #6fcf97
$-greenGradient: linear-gradient($green, #66d2ea)
$-greenFadingGradient: linear-gradient(rgba($green, 0.5), rgba(#66d2ea, 0.5))

$primaryGradient: $-purpleGradient
$fadingPrimaryGradient: $-purpleFadingGradient

$secondaryGradient: $-greenGradient
$fadingSecondaryGradient: $-greenFadingGradient

$headingColor: $dark_100
$labelColor: $dark_100
$bodyTextColor: $dark_75
$secondaryTextColor: $dark_50

$mainBackgroundColor: #ffffff

$mainFont: Montserrat, Arial, sans-serif
$headingFont: Montserrat, Arial, sans-serif
$labelFont: Montserrat, Arial, sans-serif

$basicFontSize: 14px
$basicLineHeight: 18px

$staticBorder: 1px solid $dark_25
$focusBorder: 1px solid $dark_50
$mainBorderRadius: 4px