$dark_100: rgba(31, 32, 65, 1)
$dark_75: rgba(31, 32, 65, 0.75)
$dark_50: rgba(31, 32, 65, 0.5)
$dark_25: rgba(31, 32, 65, 0.25)
$dark_05: rgba(31, 32, 65, 0.05)

$purple: #bc9cff
$-purpleGradient: linear-gradient($purple, #8ba4f9)

$green: #6fcf97
$-greenGradient: linear-gradient($green, #66d2ea)

$primaryGradient: $-purpleGradient
$secondaryGradient: $-greenGradient

$headingColor: $dark_100
$labelColor: $dark_100
$bodyTextColor: $dark_75
$secondaryTextColor: $dark_50

$mainBackgroundColor: #ffffff

$mainFont: Montserrat, Arial, sans-serif
$headingFont: Montserrat, Arial, sans-serif
$labelFont: Montserrat, Arial, sans-serif

$basicFontSize: 14px
$basicLineHeight: 18px

$staticBorder: 1px solid $dark_25
$focusBorder: 1px solid $dark_50
$mainBorderRadius: 4px