include ./src/components/form-elements/text-field/text-field.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(src=require('./index.js'))
    link(href=require('./main.sass') rel='stylesheet')
  body 
    +text-field({placeholder: "Email"})