include @components/form-elements/text-field/text-field.pug
include @components/form-elements/dropdown/dropdown.pug
include @components/form-elements/range-slider/range-slider.pug
include @components/form-elements/choice-field/choice-field.pug
include @components/form-elements/like-btn/like-btn.pug
include @components/form-elements/rate-btn/rate-btn.pug
include @components/form-elements/btn/btn.pug
include @components/form-elements/checkbox-list/checkbox-list.pug
include @components/form-elements/bullet-list/bullet-list.pug
include @components/form-elements/advantages-list/advantages-list.pug
include @components/form-elements/comment/comment.pug
include @components/form-elements/pagination/pagination.pug
include @components/form-elements/date-dropdown/date-dropdown.pug
include @components/form-elements/period-dropdowns/period-dropdowns.pug

include @components/cards/calendar/calendar.pug
include @components/cards/login-form/login-form.pug
include @components/cards/room-card/room-card.pug
include @components/cards/registration-form/registration-form.pug
include @components/cards/search-room-form/search-room-form.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(src=require('./index.js') defer)
    link(href=require('./main.sass') rel='stylesheet')
  body 
    //- +text-field({hasArrow: true})
    //- +text-field({placeholder: "Email"})
    //- +text-field({isMasked: true})

    //- +dropdown({
    //-   question: 'Сколько гостей',
    //-   items: [
    //-     { label: 'спальни', initialCount: 0, name: 'bedrooms', word: 'спальня' },
    //-     { label: 'кровати', initialCount: 0, name: 'beds', word: 'кровать' },
    //-     { label: 'ванные комнаты', initialCount: 0, name: 'bathrooms', word: 'ванная комната' },
    //-   ],
    //-   withClear: true,
    //-   withApply: true,
    //- })

    //- +range-slider({
    //-   label: "some label",
    //-   description: 'Стоимость за сутки пребывания в номере',
    //-   options: {
    //-     min: 0,
    //-     max: 10000,
    //-     firstValue: 3000,
    //-     secondValue: 5000,
    //-   }
    //- })

    //- +choice-field({ type: 'checkbox', name: 'some-name', isRich: true, title:"Широкий коридор", description: 'Ширина коридоров в номере не менее 91 см.' })

    //- +rate-btn({ averageRate: 4, userRate: 2 })

    //- +btn({ label: '2', size: 'max', theme: 'purple', withArrow: true, disabled: true, isThin: false })
    //- +calendar()
    //- +checkbox-list({
    //-   label: 'expandable checkbox list',
    //-   items: [
    //-     { name: 's', label: 'Завтрак' },
    //-     { name: 's', label: 'Письменный стол' },
    //-     { name: 's', label: 'Стул для кормления', checked: true },
    //-     { name: 's', label: 'Кроватка', checked: true },
    //-     { name: 's', label: 'Телевизор' },
    //-     { name: 's', label: 'Шампунь' },
    //-   ] 
    //- })

    //- +bullet-list({
    //-   items: [
    //-     { label: 'Нельзя с питомцами' },
    //-     { label: 'Без вечеринок и мероприятий' },
    //-     { label: 'Время прибытия — после 13:00, а выезд до 12:00' },
    //-   ]
    //- })

    //- +advantages-list({
    //-   items: [
    //-     { materialIcon: 'insert_emoticon', name: 'Комфорт', description: 'Шумопоглощающие стены' },
    //-     { materialIcon: 'location_city', name: 'Удобство', description: 'Окно в каждой из спален' },
    //-     { materialIcon: 'whatshot', name: 'Уют', description: 'Номер оснащён камином' },
    //-   ]
    //- })

    //- +comment({
    //-   text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
    //-   likes: { count: 12, isLiked: true },
    //-   user: { name: 'Мурад Сарафанов', avatarUrl: './src/assets/images/users/murad_sarafanov.jpg' },
    //-   timestampString: '5 дней назад',
    //- })

    //- +pagination()

    //- +login-form({ headingTag: 'h1', formName: 'login', formAction: '#' })
    //- +room-card({
    //-   number: 888,
    //-   isLux: true,
    //-   price: '9 990',
    //-   reviewsCount: 145,
    //-   rate: { average: 0, user: 2 },
    //-   images: [
    //-     { src: './src/assets/images/rooms/room-840.jpg' },
    //-     { src: './src/assets/images/rooms/room-888.jpg' },
    //-     { src: './src/assets/images/rooms/room-840.jpg' },
    //-     { src: './src/assets/images/rooms/room-888.jpg' },
    //-   ] })

    //- +registration-form({ headingTag: 'h1' })

    //- +date-dropdown({ label: 'прибытие', id: 's' })
    //- +period-dropdowns({ start: { label: 'при', id: 'arr' }, end: { label: 'вы', id: 'dep' } })

    +search-room-form({
      headingTag: 'h1',
      periodDropdownsIds: {
        start: 'arrival',
        end: 'department',
      },
    })