@use '@sass/variables'
@use '@sass/functions'

.header
  width: 100%
  background-color: variables.$mainBackgroundColor
  box-shadow: 0 10px 20px variables.$dark_05

  &__content
    display: flex
    justify-content: space-between
    margin: 0 auto
    padding-top: 14.5px
    padding-bottom: 13.5px
    padding-left: 14px
    padding-right: 17px
    max-width: 1190px
    column-gap: 25px

  &__logo
    display: flex
    align-items: center
    flex-shrink: 0

  &__main
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    gap: 12px 20px

  &__navigation
    display: flex
    align-items: center
    padding-top: 1.7px

  &__links
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    column-gap: 21px

  &__nav-link
    flex-shrink: 0

    &:last-child
      margin-right: 0

  &__buttons
    display: flex
    align-items: center
    justify-content: flex-end
    flex-wrap: wrap
    gap: 5px 20px
    padding-bottom: 3px

  &__sign-in-btn, &__sign-up-btn
    height: 34px

  &__username
    font-size: functions.pxToRem(14px)
    line-height: functions.pxToRem(17.1px)
    color: variables.$secondaryTextColor

  &__active-user
    position: relative
    display: flex
    align-items: center
    padding-left: 20px
    text-decoration: none

    &::before
      content: ""
      position: absolute
      left: -0.5px
      top: 50%
      width: 1px
      height: 71.5%
      background-color: rgba(31, 32, 65, 0.1)
      transform: translateY(-53%)