include @components/header-desktop/header-desktop.pug
include @components/header-mobile/header-mobile.pug

mixin header({ loggedIn, userName, userPageHref })
  .header
    .header__header-desktop
      +header-desktop({ loggedIn, userName, userPageHref })
    .header__header-mobile
      +header-mobile({ loggedIn, userName, userPageHref })