include @components/footer-mobile/footer-mobile.pug
include @components/footer-desktop/footer-desktop.pug

mixin footer()
  .footer
    .footer__footer-mobile
      +footer-mobile()
    .footer__footer-desktop
      +footer-desktop()