@use '@sass/variables'
@use '@sass/mixins'

.dropdown
  // todo: test value. Remove
  width: 320px
  background-color: variables.$mainBackgroundColor

  &_opened
    .dropdown__body
      display: block
      border: variables.$focusBorder
      border-top: none

    .dropdown__header
      border: variables.$focusBorder
      border-radius: 4px 4px 0 0

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 9px 0 8.7px 15px
    border: variables.$staticBorder
    border-radius: variables.$mainBorderRadius
    @include mixins.bodyText
    cursor: pointer

    &::after
      content: 'expand_more'
      display: block
      width: 20px
      height: 20px
      margin-right: 13px
      margin-bottom: 3.5px
      font-family: 'Material Icons'
      font-size: 24px

  &__label
    padding-top: 1px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  &__body
    display: none
    border: variables.$staticBorder
    border-radius: 0 0 4px 4px
    border-top: none
  
  &__item
    display: flex
    justify-content: space-between
    align-items: center
    padding: 7px 6.5px 0 15px

    &:last-child
      padding-bottom: 7px

  &__item-label
    padding-bottom: 3px
    @include mixins.labelText

  &__item-controls
    display: flex
    align-items: center
  
  &__control-btn
    position: relative
    bottom: 1.5px
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    border: variables.$staticBorder
    border-radius: 50%
    background-color: #ffffff
    font: 400 18px / 21.9px variables.$mainFont
    color: variables.$dark_50
    cursor: pointer

    &_disabled
      opacity: 0.38
      cursor: auto

  &__item-count
    width: 32px
    padding-bottom: 3px
    text-align: center
    @include mixins.labelText

  &__buttons
    display: flex
    justify-content: space-between
    padding: 13px 7px 12px 14px
  
  &__btn
    background-color: transparent
    border: none
    @include mixins.labelText
    text-transform: uppercase
    color: variables.$purple

  &__apply-btn_pushed_right
    margin-left: auto